In [25]:
# Load libraries
import pandas as pd
import numpy
import matplotlib.pyplot as plt
from pandas.tools.plotting import scatter_matrix
from sklearn.preprocessing import StandardScaler
from sklearn import cross_validation
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.pipeline import Pipeline
from sklearn.grid_search import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import mean_squared_error

from sklearn.preprocessing import LabelEncoder

In [26]:
pd.set_option('display.width', 100)
pd.set_option('precision', 3)

In [27]:
train_file_name = r'train.csv'
data = pd.read_csv(train_file_name)
print(data.shape)
data.head(10)

(188318, 132)

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,A,B,A,B,A,A,A,A,B,...,0.718,0.335,0.303,0.671,0.835,0.570,0.595,0.822,0.715,2213.18
1,2,A,B,A,A,A,A,A,A,B,...,0.439,0.437,0.601,0.351,0.439,0.338,0.366,0.611,0.304,1283.60
2,5,A,B,A,A,B,A,A,A,B,...,0.290,0.316,0.273,0.261,0.324,0.381,0.373,0.196,0.774,3005.09
3,10,B,B,A,B,A,A,A,A,B,...,0.441,0.391,0.318,0.321,0.445,0.328,0.322,0.605,0.603,939.85
4,11,A,B,A,B,A,A,A,A,B,...,0.178,0.247,0.246,0.221,0.212,0.205,0.202,0.246,0.433,2763.85
5,13,A,B,A,A,A,A,A,A,B,...,0.364,0.401,0.268,0.462,0.506,0.367,0.359,0.345,0.727,5142.87
6,14,A,A,A,A,B,A,A,A,A,...,0.382,0.364,0.246,0.405,0.472,0.335,0.352,0.342,0.383,1132.22
7,20,A,B,A,B,A,A,A,A,B,...,0.867,0.583,0.903,0.848,0.802,0.644,0.786,0.860,0.242,3585.75
8,23,A,B,B,B,B,A,A,A,B,...,0.629,0.384,0.612,0.382,0.511,0.682,0.669,0.756,0.361,10280.20
9,24,A,B,A,A,B,B,A,A,B,...,0.713,0.469,0.303,0.671,0.835,0.863,0.879,0.822,0.295,6184.59

In [33]:
columns = data.columns
cat_columns = [col for col in columns if 'cat' in col]

#cat_columns = ['cat1']

print(cat_columns)

['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9', 'cat10', 'cat11', 'cat12', 'cat13', 'cat14', 'cat15', 'cat16', 'cat17', 'cat18', 'cat19', 'cat20', 'cat21', 'cat22', 'cat23', 'cat24', 'cat25', 'cat26', 'cat27', 'cat28', 'cat29', 'cat30', 'cat31', 'cat32', 'cat33', 'cat34', 'cat35', 'cat36', 'cat37', 'cat38', 'cat39', 'cat40', 'cat41', 'cat42', 'cat43', 'cat44', 'cat45', 'cat46', 'cat47', 'cat48', 'cat49', 'cat50', 'cat51', 'cat52', 'cat53', 'cat54', 'cat55', 'cat56', 'cat57', 'cat58', 'cat59', 'cat60', 'cat61', 'cat62', 'cat63', 'cat64', 'cat65', 'cat66', 'cat67', 'cat68', 'cat69', 'cat70', 'cat71', 'cat72', 'cat73', 'cat74', 'cat75', 'cat76', 'cat77', 'cat78', 'cat79', 'cat80', 'cat81', 'cat82', 'cat83', 'cat84', 'cat85', 'cat86', 'cat87', 'cat88', 'cat89', 'cat90', 'cat91', 'cat92', 'cat93', 'cat94', 'cat95', 'cat96', 'cat97', 'cat98', 'cat99', 'cat100', 'cat101', 'cat102', 'cat103', 'cat104', 'cat105', 'cat106', 'cat107', 'cat108', 'cat109', 'cat110', 'cat111', 'cat112', 'cat113', 'cat114', 'cat115', 'cat116']

In [35]:
for col in cat_columns:
    #print col
    encoder = LabelEncoder()
    encoder.fit(data[col])
    labels = encoder.transform(data[col])
    #print len(labels)
    data[col] = labels

In [36]:
data.head(10)

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,0,1,0,1,0,0,0,0,1,...,0.718,0.335,0.303,0.671,0.835,0.570,0.595,0.822,0.715,2213.18
1,2,0,1,0,0,0,0,0,0,1,...,0.439,0.437,0.601,0.351,0.439,0.338,0.366,0.611,0.304,1283.60
2,5,0,1,0,0,1,0,0,0,1,...,0.290,0.316,0.273,0.261,0.324,0.381,0.373,0.196,0.774,3005.09
3,10,1,1,0,1,0,0,0,0,1,...,0.441,0.391,0.318,0.321,0.445,0.328,0.322,0.605,0.603,939.85
4,11,0,1,0,1,0,0,0,0,1,...,0.178,0.247,0.246,0.221,0.212,0.205,0.202,0.246,0.433,2763.85
5,13,0,1,0,0,0,0,0,0,1,...,0.364,0.401,0.268,0.462,0.506,0.367,0.359,0.345,0.727,5142.87
6,14,0,0,0,0,1,0,0,0,0,...,0.382,0.364,0.246,0.405,0.472,0.335,0.352,0.342,0.383,1132.22
7,20,0,1,0,1,0,0,0,0,1,...,0.867,0.583,0.903,0.848,0.802,0.644,0.786,0.860,0.242,3585.75
8,23,0,1,1,1,1,0,0,0,1,...,0.629,0.384,0.612,0.382,0.511,0.682,0.669,0.756,0.361,10280.20
9,24,0,1,0,0,1,1,0,0,1,...,0.713,0.469,0.303,0.671,0.835,0.863,0.879,0.822,0.295,6184.59

In [31]:
#get list of categorical columns
#convert all columns