In [2]:
# Load libraries
import pandas as pd
import numpy
import matplotlib.pyplot as plt
from pandas.tools.plotting import scatter_matrix
from sklearn.preprocessing import StandardScaler
from sklearn import cross_validation
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.pipeline import Pipeline
from sklearn.grid_search import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import mean_squared_error

from sklearn.preprocessing import LabelEncoder

In [3]:
pd.set_option('display.width', 100)
pd.set_option('precision', 3)

In [4]:
train_file_name = r'train.csv'
data = pd.read_csv(train_file_name)
print(data.shape)
data.head(10)

(188318, 132)

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,A,B,A,B,A,A,A,A,B,...,0.718,0.335,0.303,0.671,0.835,0.570,0.595,0.822,0.715,2213.18
1,2,A,B,A,A,A,A,A,A,B,...,0.439,0.437,0.601,0.351,0.439,0.338,0.366,0.611,0.304,1283.60
2,5,A,B,A,A,B,A,A,A,B,...,0.290,0.316,0.273,0.261,0.324,0.381,0.373,0.196,0.774,3005.09
3,10,B,B,A,B,A,A,A,A,B,...,0.441,0.391,0.318,0.321,0.445,0.328,0.322,0.605,0.603,939.85
4,11,A,B,A,B,A,A,A,A,B,...,0.178,0.247,0.246,0.221,0.212,0.205,0.202,0.246,0.433,2763.85
5,13,A,B,A,A,A,A,A,A,B,...,0.364,0.401,0.268,0.462,0.506,0.367,0.359,0.345,0.727,5142.87
6,14,A,A,A,A,B,A,A,A,A,...,0.382,0.364,0.246,0.405,0.472,0.335,0.352,0.342,0.383,1132.22
7,20,A,B,A,B,A,A,A,A,B,...,0.867,0.583,0.903,0.848,0.802,0.644,0.786,0.860,0.242,3585.75
8,23,A,B,B,B,B,A,A,A,B,...,0.629,0.384,0.612,0.382,0.511,0.682,0.669,0.756,0.361,10280.20
9,24,A,B,A,A,B,B,A,A,B,...,0.713,0.469,0.303,0.671,0.835,0.863,0.879,0.822,0.295,6184.59

In [5]:
columns = data.columns
cat_columns = [col for col in columns if 'cat' in col]

#cat_columns = ['cat1']

print(cat_columns)

['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9', 'cat10', 'cat11', 'cat12', 'cat13', 'cat14', 'cat15', 'cat16', 'cat17', 'cat18', 'cat19', 'cat20', 'cat21', 'cat22', 'cat23', 'cat24', 'cat25', 'cat26', 'cat27', 'cat28', 'cat29', 'cat30', 'cat31', 'cat32', 'cat33', 'cat34', 'cat35', 'cat36', 'cat37', 'cat38', 'cat39', 'cat40', 'cat41', 'cat42', 'cat43', 'cat44', 'cat45', 'cat46', 'cat47', 'cat48', 'cat49', 'cat50', 'cat51', 'cat52', 'cat53', 'cat54', 'cat55', 'cat56', 'cat57', 'cat58', 'cat59', 'cat60', 'cat61', 'cat62', 'cat63', 'cat64', 'cat65', 'cat66', 'cat67', 'cat68', 'cat69', 'cat70', 'cat71', 'cat72', 'cat73', 'cat74', 'cat75', 'cat76', 'cat77', 'cat78', 'cat79', 'cat80', 'cat81', 'cat82', 'cat83', 'cat84', 'cat85', 'cat86', 'cat87', 'cat88', 'cat89', 'cat90', 'cat91', 'cat92', 'cat93', 'cat94', 'cat95', 'cat96', 'cat97', 'cat98', 'cat99', 'cat100', 'cat101', 'cat102', 'cat103', 'cat104', 'cat105', 'cat106', 'cat107', 'cat108', 'cat109', 'cat110', 'cat111', 'cat112', 'cat113', 'cat114', 'cat115', 'cat116']

In [5]:
for col in cat_columns:
    #print col
    encoder = LabelEncoder()
    encoder.fit(data[col])
    labels = encoder.transform(data[col])
    #print len(labels)
    data[col] = labels

In [6]:
data.head(10)

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,A,B,A,B,A,A,A,A,B,...,0.718,0.335,0.303,0.671,0.835,0.570,0.595,0.822,0.715,2213.18
1,2,A,B,A,A,A,A,A,A,B,...,0.439,0.437,0.601,0.351,0.439,0.338,0.366,0.611,0.304,1283.60
2,5,A,B,A,A,B,A,A,A,B,...,0.290,0.316,0.273,0.261,0.324,0.381,0.373,0.196,0.774,3005.09
3,10,B,B,A,B,A,A,A,A,B,...,0.441,0.391,0.318,0.321,0.445,0.328,0.322,0.605,0.603,939.85
4,11,A,B,A,B,A,A,A,A,B,...,0.178,0.247,0.246,0.221,0.212,0.205,0.202,0.246,0.433,2763.85
5,13,A,B,A,A,A,A,A,A,B,...,0.364,0.401,0.268,0.462,0.506,0.367,0.359,0.345,0.727,5142.87
6,14,A,A,A,A,B,A,A,A,A,...,0.382,0.364,0.246,0.405,0.472,0.335,0.352,0.342,0.383,1132.22
7,20,A,B,A,B,A,A,A,A,B,...,0.867,0.583,0.903,0.848,0.802,0.644,0.786,0.860,0.242,3585.75
8,23,A,B,B,B,B,A,A,A,B,...,0.629,0.384,0.612,0.382,0.511,0.682,0.669,0.756,0.361,10280.20
9,24,A,B,A,A,B,B,A,A,B,...,0.713,0.469,0.303,0.671,0.835,0.863,0.879,0.822,0.295,6184.59

In [7]:
#get list of categorical columns
#convert all columns
data.describe()

,id,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
count,188318.000,1.883e+05,188318.000,188318.000,188318.000,188318.000,188318.000,188318.000,188318.000,1.883e+05,188318.000,188318.000,188318.000,1.883e+05,188318.000,188318.000
mean,294135.983,4.939e-01,0.507,0.499,0.492,0.487,0.491,0.485,0.486,4.855e-01,0.498,0.494,0.493,4.931e-01,0.496,3037.338
std,169336.085,1.876e-01,0.207,0.202,0.211,0.209,0.205,0.178,0.199,1.817e-01,0.186,0.210,0.209,2.128e-01,0.222,2904.086
min,1.000,1.600e-05,0.001,0.003,0.177,0.281,0.013,0.070,0.237,8.000e-05,0.000,0.035,0.036,2.280e-04,0.180,0.670
25%,147748.250,3.461e-01,0.358,0.337,0.327,0.281,0.336,0.350,0.313,3.590e-01,0.365,0.311,0.312,3.158e-01,0.295,1204.460
50%,294539.500,4.758e-01,0.556,0.528,0.453,0.422,0.441,0.438,0.441,4.415e-01,0.461,0.457,0.462,3.635e-01,0.407,2115.570
75%,440680.500,6.239e-01,0.682,0.634,0.652,0.643,0.655,0.591,0.624,5.668e-01,0.615,0.679,0.676,6.900e-01,0.725,3864.045
max,587633.000,9.850e-01,0.863,0.944,0.954,0.984,0.997,1.000,0.980,9.954e-01,0.995,0.999,0.998,9.885e-01,0.845,121012.250

In [16]:
#identify outliers
data[data['loss'] > 75000]

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
14969,47526,A,B,A,A,A,A,A,A,B,...,0.811,1.0,0.334,0.419,0.651,0.998,0.998,0.241,0.646,85923.56
53551,167755,A,A,A,B,A,A,A,A,A,...,0.398,1.0,0.389,0.309,0.666,0.986,0.991,0.129,0.392,121012.25
83871,262556,A,B,A,A,A,A,A,A,B,...,0.356,1.0,0.383,0.309,0.666,0.986,0.991,0.118,0.383,106863.00
172883,539471,B,B,A,B,A,A,A,A,B,...,0.887,1.0,0.318,0.675,0.651,0.995,0.994,0.348,0.802,79623.52

In [8]:
len(data.columns) - 1

131

In [9]:
#exclude id and output columns from the input columns
exclude_cols = ['id', 'loss']
data_columns = [col for col in data.columns if col not in exclude_cols]

In [15]:
columns = data.columns
continous_columns = [col for col in columns if 'cont' in col]

In [16]:
#FOR TESTING WITH ONLY THE CONTINUOUS DATA COLUMNS
data_columns = continous_columns

In [17]:
array = data[data_columns].values
X = data[data_columns].values
Y = data['loss'].values

In [18]:
validation_size = 0.20
seed = 7
# X_train, X_validation, Y_train, Y_validation = cross_validation.train_test_split(X, Y,
#     test_size=validation_size, random_state=seed)

In [19]:
num_folds = 10
num_instances = len(X)
seed = 7
scoring =  'mean_squared_error'

In [20]:
models = []
models.append(( 'LR' , LinearRegression()))
models.append(( 'LASSO' , Lasso()))
models.append(( 'EN' , ElasticNet()))
models.append(( 'KNN' , KNeighborsRegressor()))
models.append(( 'CART' , DecisionTreeRegressor()))
models.append(( 'SVR' , SVR()))

In [ ]:
results = []
names = []
for name, model in models:
  kfold = cross_validation.KFold(n=num_instances, n_folds=num_folds, random_state=seed)
  cv_results = cross_validation.cross_val_score(model, X, Y, cv=kfold,
      scoring=scoring)
  results.append(cv_results)
  names.append(name)
  msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
  print(msg)

LR: -8096524.669094 (388435.323439)
LASSO: -8099319.866335 (389094.130212)
EN: -8358923.529972 (405331.222251)
KNN: -9370930.008716 (273201.599778)
CART: -16334127.762149 (292911.912256)

In [ ]:
pipelines = []
pipelines.append(( 'ScaledLR' , Pipeline([( 'Scaler' , StandardScaler()),( 'LR' ,
    LinearRegression())])))
pipelines.append(( 'ScaledLASSO' , Pipeline([( 'Scaler' , StandardScaler()),( 'LASSO' ,
    Lasso())])))
￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼pipelines.append(( 'ScaledEN' , Pipeline([( 'Scaler' , StandardScaler()),( 'EN' ,
    ElasticNet())])))
pipelines.append(( 'ScaledKNN' , Pipeline([( 'Scaler' , StandardScaler()),( 'KNN' ,
    KNeighborsRegressor())])))
pipelines.append(( 'ScaledCART' , Pipeline([( 'Scaler' , StandardScaler()),( 'CART' ,
    DecisionTreeRegressor())])))
pipelines.append(( 'ScaledSVR' , Pipeline([( 'Scaler' , StandardScaler()),( 'SVR' , SVR())])))
results = []
names = []
for name, model in pipelines:
  kfold = cross_validation.KFold(n=num_instances, n_folds=num_folds, random_state=seed)
  cv_results = cross_validation.cross_val_score(model, X_train, Y_train, cv=kfold,
      scoring=scoring)
  results.append(cv_results)
  names.append(name)
  msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
  print(msg)